<a href="https://colab.research.google.com/github/Samgomes2510/tratamento-de-dados/blob/main/tratamento_dados_inconsistencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import os

In [3]:
from google.colab import files
uploaded = files.upload()

Saving clientes.csv to clientes.csv

In [4]:
df = pd.read_csv('clientes.csv')

In [5]:
# Verificar os primeiros registros
print(df.head().to_string())

                      nome             cpf  idade        data                                                              endereco          estado    pais
0  Sr. Vitor Gabriel Silva  640.719.385-01     90  06/12/1933           Trevo Emanuel Silva, 482\nVila Tirol\n47847085 Pereira / AP        Rondônia  Brasil
1            Calebe Santos  651.297.384-46     40  06/03/1984         Recanto Moraes, 7\nErnesto Nascimento\n96497-621 da Rosa / PB  Rio de Janeiro  Brasil
2             Evelyn Pires  107.643.528-90     80  09/03/1944       Travessa de Caldeira, 237\nSanta Terezinha\n84390313 Sales / TO         Sergipe  Brasil
3       Maria Julia Castro  164.750.293-43     76  12/04/1947    Residencial de Pereira, 20\nJatobá\n62127-165 Gomes de Santos / AL      Pernambuco  Brasil
4           Arthur da Rosa  085.167.249-30     53  16/04/1970  Parque Almeida, 66\nVila Suzana Segunda Seção\n09805-686 Santos / SE  Santa Catarina  Brasil

In [6]:
print(df.tail().to_string())

                  nome             cpf  idade        data                                                                        endereco          estado    pais
1022       Lívia Nunes  742.380.591-23     49  14/03/1975  Passarela de Porto, 65\nPousada Santo Antonio\n35531-299 Mendes do Amparo / PI           Bahia  Brasil
1023       Joana Silva  349.051.867-57     24  19/09/1999                   Chácara Miguel Fogaça\nLaranjeiras\n52800515 Souza Verde / PE      Pernambuco  Brasil
1024       Luigi Porto  826.509.374-83     43  18/08/1980                        Parque de Santos, 88\nSão João\n60112-833 Rodrigues / PI  Espírito Santo  Brasil
1025   Letícia da Mata  308.742.169-31     47  04/08/1976                      Aeroporto da Paz, 54\nVila São Dimas\n26750-505 Costa / PR  Rio de Janeiro  Brasil
1026  Dr. Thomas Nunes  967.831.542-46     81  14/08/1942                           Vereda da Mota, 37\nVila Da Luz\n50836-481 Moura / SE           Piauí  Brasil

In [7]:
# Verificar quantidade de linhas e colunas
print('qtd: ', df.shape)

qtd:  (1027, 7)

In [8]:
# Verificar tipo de dados
print('tipagem: ', df.dtypes)

tipagem:  nome        object
cpf         object
idade        int64
data        object
endereco    object
estado      object
pais        object
dtype: object

In [9]:
# Checar Valores nulos
print('Valores nulos:\n' , df.isnull().sum())

Valores nulos:
 nome         3
cpf          7
idade        0
data        10
endereco     5
estado       5
pais         0
dtype: int64

# Estudo_lambda

In [10]:
def eleva_cubo(x):
  return x**3

print(eleva_cubo(2))

8

In [11]:
# Expressão de Lambda para calcular o cubo de um numero
eleva_cubo_lambda = lambda x: x**3

print(eleva_cubo(2))
print(eleva_cubo_lambda(2))

8
8

In [12]:
df['cubo_lambda'] = df['idade'].apply(lambda x: x ** 3)
print(df)

                         nome             cpf  idade        data  \
0     Sr. Vitor Gabriel Silva  640.719.385-01     90  06/12/1933
1               Calebe Santos  651.297.384-46     40  06/03/1984
2                Evelyn Pires  107.643.528-90     80  09/03/1944
3          Maria Julia Castro  164.750.293-43     76  12/04/1947
4              Arthur da Rosa  085.167.249-30     53  16/04/1970
...                       ...             ...    ...         ...
1022              Lívia Nunes  742.380.591-23     49  14/03/1975
1023              Joana Silva  349.051.867-57     24  19/09/1999
1024              Luigi Porto  826.509.374-83     43  18/08/1980
1025          Letícia da Mata  308.742.169-31     47  04/08/1976
1026         Dr. Thomas Nunes  967.831.542-46     81  14/08/1942

                                               endereco          estado  \
0     Trevo Emanuel Silva, 482\nVila Tirol\n47847085...        Rondônia
1     Recanto Moraes, 7\nErnesto Nascimento\n96497-6...  Rio de Janeiro
2     Travessa de Caldeira, 237\nSanta Terezinha\n84...         Sergipe
3     Residencial de Pereira, 20\nJatobá\n62127-165 ...      Pernambuco
4     Parque Almeida, 66\nVila Suzana Segunda Seção\...  Santa Catarina
...                                                 ...             ...
1022  Passarela de Porto, 65\nPousada Santo Antonio\...           Bahia
1023  Chácara Miguel Fogaça\nLaranjeiras\n52800515 S...      Pernambuco
1024  Parque de Santos, 88\nSão João\n60112-833 Rodr...  Espírito Santo
1025  Aeroporto da Paz, 54\nVila São Dimas\n26750-50...  Rio de Janeiro
1026  Vereda da Mota, 37\nVila Da Luz\n50836-481 Mou...           Piauí

        pais  cubo_lambda
0     Brasil       729000
1     Brasil        64000
2     Brasil       512000
3     Brasil       438976
4     Brasil       148877
...      ...          ...
1022  Brasil       117649
1023  Brasil        13824
1024  Brasil        79507
1025  Brasil       103823
1026  Brasil       531441

[1027 rows x 8 columns]

In [13]:
print(df.columns)

Index(['nome', 'cpf', 'idade', 'data', 'endereco', 'estado', 'pais',
       'cubo_lambda'],
      dtype='object')

#Limpeza_dados

In [14]:
df = pd.read_csv('clientes.csv')

In [15]:
pd.set_option('display.width', None)
print(df.head)

<bound method NDFrame.head of                          nome             cpf  idade        data  \
0     Sr. Vitor Gabriel Silva  640.719.385-01     90  06/12/1933
1               Calebe Santos  651.297.384-46     40  06/03/1984
2                Evelyn Pires  107.643.528-90     80  09/03/1944
3          Maria Julia Castro  164.750.293-43     76  12/04/1947
4              Arthur da Rosa  085.167.249-30     53  16/04/1970
...                       ...             ...    ...         ...
1022              Lívia Nunes  742.380.591-23     49  14/03/1975
1023              Joana Silva  349.051.867-57     24  19/09/1999
1024              Luigi Porto  826.509.374-83     43  18/08/1980
1025          Letícia da Mata  308.742.169-31     47  04/08/1976
1026         Dr. Thomas Nunes  967.831.542-46     81  14/08/1942

                                               endereco          estado  \
0     Trevo Emanuel Silva, 482\nVila Tirol\n47847085...        Rondônia
1     Recanto Moraes, 7\nErnesto Nascimento\n96497-6...  Rio de Janeiro
2     Travessa de Caldeira, 237\nSanta Terezinha\n84...         Sergipe
3     Residencial de Pereira, 20\nJatobá\n62127-165 ...      Pernambuco
4     Parque Almeida, 66\nVila Suzana Segunda Seção\...  Santa Catarina
...                                                 ...             ...
1022  Passarela de Porto, 65\nPousada Santo Antonio\...           Bahia
1023  Chácara Miguel Fogaça\nLaranjeiras\n52800515 S...      Pernambuco
1024  Parque de Santos, 88\nSão João\n60112-833 Rodr...  Espírito Santo
1025  Aeroporto da Paz, 54\nVila São Dimas\n26750-50...  Rio de Janeiro
1026  Vereda da Mota, 37\nVila Da Luz\n50836-481 Mou...           Piauí

        pais
0     Brasil
1     Brasil
2     Brasil
3     Brasil
4     Brasil
...      ...
1022  Brasil
1023  Brasil
1024  Brasil
1025  Brasil
1026  Brasil

[1027 rows x 7 columns]>

In [16]:
df.drop('pais', axis=1, inplace=True) # coluna

In [17]:
# Normalizar campo de texto
df['nome'] = df['nome'].str.title()
df['endereco'] = df['endereco'].str.lower()
df['estado'] = df['estado'].str.strip().str.upper()
print(df.head())

                      nome             cpf  idade        data  \
0  Sr. Vitor Gabriel Silva  640.719.385-01     90  06/12/1933
1            Calebe Santos  651.297.384-46     40  06/03/1984
2             Evelyn Pires  107.643.528-90     80  09/03/1944
3       Maria Julia Castro  164.750.293-43     76  12/04/1947
4           Arthur Da Rosa  085.167.249-30     53  16/04/1970

                                            endereco          estado
0  trevo emanuel silva, 482\nvila tirol\n47847085...        RONDÔNIA
1  recanto moraes, 7\nernesto nascimento\n96497-6...  RIO DE JANEIRO
2  travessa de caldeira, 237\nsanta terezinha\n84...         SERGIPE
3  residencial de pereira, 20\njatobá\n62127-165 ...      PERNAMBUCO
4  parque almeida, 66\nvila suzana segunda seção\...  SANTA CATARINA

In [18]:
# Converter tipos de dados
df['idade'] = df['idade'].astype(int)
print(df.dtypes)

nome        object
cpf         object
idade        int64
data        object
endereco    object
estado      object
dtype: object

In [19]:
# Tratar Valores Nulos
df_fillna = df.fillna(0) # Subistituir valores nulos por 0
df_dropna = df.dropna() # Remover linhas com valores nulos
df_dropna4 = df.dropna(thresh=4) # Remover linhas com menos de 4 valores válidos
df_ = df.dropna(subset=['cpf']) # Remover registro com cpf nulo


print('Valores nulos:\n', df.isnull().sum())
print('qtd de resgistros nulos com fillna:\n', df_fillna.isnull().sum().sum())
print('qtd de resgistros nulos com dropna:\n', df_dropna.isnull().sum().sum())
print('qtd de resgistros nulos com dropna4:\n', df_dropna4.isnull().sum().sum())
print('qtd de resgistros nulos com cpf:\n', df_.isnull().sum().sum())

df.fillna({'estado': 'Desconhecido'}, inplace=True)
df['endereco'] = df['endereco'].fillna('Endereço não informado')
df['idade_corrigida'] = df['idade'].fillna(df['idade'].mean())

Valores nulos:
 nome         3
cpf          7
idade        0
data        10
endereco     5
estado       5
dtype: int64
qtd de resgistros nulos com fillna:
 0
qtd de resgistros nulos com dropna:
 0
qtd de resgistros nulos com dropna4:
 30
qtd de resgistros nulos com cpf:
 22

In [20]:
# Tratar formato de dados
df['data_corrigida'] = pd.to_datetime(df['data'], format='%d/%m/%Y', errors='coerce')
print(df.dtypes)

nome                       object
cpf                        object
idade                       int64
data                       object
endereco                   object
estado                     object
idade_corrigida             int64
data_corrigida     datetime64[ns]
dtype: object

In [21]:
# Tratar dados duplicados
print('Qtd registros atual:', df.shape)
df.drop_duplicates
df.drop_duplicates(subset=['cpf'], inplace=True)
print('Qtd registros atual:', df.shape)

Qtd registros atual: (1027, 8)
Qtd registros atual: (1012, 8)

In [22]:
print('Dados limpos:\n', df)

Dados limpos:
                          nome             cpf  idade        data  \
0     Sr. Vitor Gabriel Silva  640.719.385-01     90  06/12/1933
1               Calebe Santos  651.297.384-46     40  06/03/1984
2                Evelyn Pires  107.643.528-90     80  09/03/1944
3          Maria Julia Castro  164.750.293-43     76  12/04/1947
4              Arthur Da Rosa  085.167.249-30     53  16/04/1970
...                       ...             ...    ...         ...
1013            Eloah Peixoto  064.917.253-16     79  23/05/1944
1014              Luiza Sales  726.431.850-80     55  01/05/1968
1015      Dr. Alexandre Sales  427.398.061-40     87  05/06/1936
1016            Alícia Campos  162.790.485-94     49  20/03/1975
1024              Luigi Porto  826.509.374-83     43  18/08/1980

                                               endereco             estado  \
0     trevo emanuel silva, 482\nvila tirol\n47847085...           RONDÔNIA
1     recanto moraes, 7\nernesto nascimento\n96497-6...     RIO DE JANEIRO
2     travessa de caldeira, 237\nsanta terezinha\n84...            SERGIPE
3     residencial de pereira, 20\njatobá\n62127-165 ...         PERNAMBUCO
4     parque almeida, 66\nvila suzana segunda seção\...     SANTA CATARINA
...                                                 ...                ...
1013  rua não cadastrada\nbairro não cadastrado\n000...            SERGIPE
1014  rua não cadastrada\nbairro não cadastrado\n000...  RIO GRANDE DO SUL
1015  rua não cadastrada\nbairro não cadastrado\n000...          SÃO PAULO
1016  rua não cadastrada\nbairro não cadastrado\n000...              PIAUÍ
1024  parque de santos, 88\nsão joão\n60112-833 rodr...     ESPÍRITO SANTO

      idade_corrigida data_corrigida
0                  90     1933-12-06
1                  40     1984-03-06
2                  80     1944-03-09
3                  76     1947-04-12
4                  53     1970-04-16
...               ...            ...
1013               79     1944-05-23
1014               55     1968-05-01
1015               87     1936-06-05
1016               49     1975-03-20
1024               43     1980-08-18

[1012 rows x 8 columns]

In [23]:
# Salvar dataframe
df['data'] = df['data_corrigida']
df['idade'] = df['idade_corrigida']

df_salvar = df[['nome', 'cpf', 'idade', 'data', 'endereco', 'estado']]
df_salvar.to_csv('clientes_limpeza.csv', index=False)

In [24]:
print('Novo dataframe: \n', pd.read_csv('clientes_limpeza.csv'))

Novo dataframe:
                          nome             cpf  idade        data  \
0     Sr. Vitor Gabriel Silva  640.719.385-01     90  1933-12-06
1               Calebe Santos  651.297.384-46     40  1984-03-06
2                Evelyn Pires  107.643.528-90     80  1944-03-09
3          Maria Julia Castro  164.750.293-43     76  1947-04-12
4              Arthur Da Rosa  085.167.249-30     53  1970-04-16
...                       ...             ...    ...         ...
1007            Eloah Peixoto  064.917.253-16     79  1944-05-23
1008              Luiza Sales  726.431.850-80     55  1968-05-01
1009      Dr. Alexandre Sales  427.398.061-40     87  1936-06-05
1010            Alícia Campos  162.790.485-94     49  1975-03-20
1011              Luigi Porto  826.509.374-83     43  1980-08-18

                                               endereco             estado
0     trevo emanuel silva, 482\nvila tirol\n47847085...           RONDÔNIA
1     recanto moraes, 7\nernesto nascimento\n96497-6...     RIO DE JANEIRO
2     travessa de caldeira, 237\nsanta terezinha\n84...            SERGIPE
3     residencial de pereira, 20\njatobá\n62127-165 ...         PERNAMBUCO
4     parque almeida, 66\nvila suzana segunda seção\...     SANTA CATARINA
...                                                 ...                ...
1007  rua não cadastrada\nbairro não cadastrado\n000...            SERGIPE
1008  rua não cadastrada\nbairro não cadastrado\n000...  RIO GRANDE DO SUL
1009  rua não cadastrada\nbairro não cadastrado\n000...          SÃO PAULO
1010  rua não cadastrada\nbairro não cadastrado\n000...              PIAUÍ
1011  parque de santos, 88\nsão joão\n60112-833 rodr...     ESPÍRITO SANTO

[1012 rows x 6 columns]

# Outliers

In [25]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [26]:
import pandas as pd
from scipy import stats

In [27]:
pd.set_option('display.width', None)

In [28]:
df = pd.read_csv('clientes_limpeza.csv')

In [29]:
df_filtro_basico = df[df['idade'] > 100]


print('Filtro básico \n', df_filtro_basico[['nome', 'idade']])

Filtro básico
                      nome  idade
965     João Miguel Moura    129
966     Ana Júlia Cardoso    106
967      Stella Rodrigues    126
970  Ana Beatriz Teixeira    108
973         Beatriz Nunes    129
974         Raquel Campos    124
975     Alícia Nascimento    111
976    Maria Julia Vieira    119
979       Julia Das Neves    122
980       Kamilly Rezende    140
985             João Melo   5225
986           Eloah Viana   8890
987       Catarina Vieira   6850
989          Júlia Araújo   4068
990         Enrico Aragão   2841
993       Samuel Caldeira   3324

In [30]:
# Indentificar Outliers com Z-score
z_scores = stats.zscore(df['idade'].dropna())
outliers_z = df[z_scores >= 3]

print("outliers pelo Z-scores:\n", outliers_z)

outliers pelo Z-scores:
                 nome             cpf  idade data  \
985        João Melo  053.946.781-20   5225  NaN
986      Eloah Viana  694.108.237-22   8890  NaN
987  Catarina Vieira  631.847.925-28   6850  NaN
989     Júlia Araújo  324.091.587-14   4068  NaN
990    Enrico Aragão  496.017.253-34   2841  NaN
993  Samuel Caldeira  801.726.935-86   3324  NaN

                                              endereco             estado
985  via de santos, 172\njardinópolis\n11026-705 ca...            ALAGOAS
986  chácara isabella melo, 9\nengenho nogueira\n48...            PARAÍBA
987  lagoa moraes, 1\nfazendinha\n30786-621 nunes / go              AMAPÁ
989  passarela de alves, 45\nconjunto celso machado...               PARÁ
990  trevo de porto\njardim leblon\n25265042 costel...         PERNAMBUCO
993  campo monteiro\ncabana do pai tomás\n43706555 ...  RIO GRANDE DO SUL

In [32]:
# Filtra Outliers com Z-score
df_zscores = df[(stats.zscore(df['idade']) < 3)]

In [33]:
# Identificar Outliers com IQR
Q1 = df['idade'].quantile(0.25)
Q3 = df['idade'].quantile(0.75)
IQR = Q3 - Q1

limite_baixo = Q1 - 1.5 * IQR
limite_alto = Q3 + 1.5 * IQR

print("Limites IQR:", limite_baixo, limite_alto)

outliers_iqr = df[(df['idade'] < limite_baixo) | (df['idade'] > limite_alto)]
print("Outliers pelo IQR:\n", outliers_iqr)

Limites IQR: -23.5 140.5
Outliers pelo IQR:
                       nome             cpf  idade data  \
985              João Melo  053.946.781-20   5225  NaN
986            Eloah Viana  694.108.237-22   8890  NaN
987        Catarina Vieira  631.847.925-28   6850  NaN
988  Dra. Emanuelly Da Luz  549.076.831-20   -398  NaN
989           Júlia Araújo  324.091.587-14   4068  NaN
990          Enrico Aragão  496.017.253-34   2841  NaN
991        Sr. Bruno Pires  428.176.095-49   -283  NaN
992        Daniela Freitas  786.951.432-28   -620  NaN
993        Samuel Caldeira  801.726.935-86   3324  NaN

                                              endereco             estado
985  via de santos, 172\njardinópolis\n11026-705 ca...            ALAGOAS
986  chácara isabella melo, 9\nengenho nogueira\n48...            PARAÍBA
987  lagoa moraes, 1\nfazendinha\n30786-621 nunes / go              AMAPÁ
988  trevo peixoto, 13\njardim alvorada\n88114547 m...              AMAPÁ
989  passarela de alves, 45\nconjunto celso machado...               PARÁ
990  trevo de porto\njardim leblon\n25265042 costel...         PERNAMBUCO
991  quadra pinto, 896\nnova gameleira\n15951-609 d...         PERNAMBUCO
992  aeroporto de pires, 59\nnossa senhora da conce...           RONDÔNIA
993  campo monteiro\ncabana do pai tomás\n43706555 ...  RIO GRANDE DO SUL

In [34]:
#Filtra Outliers com IQR
df_iqr = df[(df['idade'] >= limite_baixo) & (df['idade'] <= limite_alto)]

In [35]:
# Filtra endereço inválido
df['endereco'] = df['endereco'].apply(lambda x: 'Endereço não inválido' if len(x.split('\n')) < 3 else x)

In [36]:
#Tratar campo de texto
df['nome'] = df['nome'].apply(lambda x: 'Nome inválido' if isinstance(x, str) and len(x) > 50 else x)
print('Qtd registro com nomes grandes:', (df['nome'] == 'Nome inválido').sum())

Qtd registro com nomes grandes: 2

In [37]:
print('Dados com outliers tratados:\n', df)

Dados com outliers tratados:
                          nome             cpf  idade        data  \
0     Sr. Vitor Gabriel Silva  640.719.385-01     90  1933-12-06
1               Calebe Santos  651.297.384-46     40  1984-03-06
2                Evelyn Pires  107.643.528-90     80  1944-03-09
3          Maria Julia Castro  164.750.293-43     76  1947-04-12
4              Arthur Da Rosa  085.167.249-30     53  1970-04-16
...                       ...             ...    ...         ...
1007            Eloah Peixoto  064.917.253-16     79  1944-05-23
1008              Luiza Sales  726.431.850-80     55  1968-05-01
1009      Dr. Alexandre Sales  427.398.061-40     87  1936-06-05
1010            Alícia Campos  162.790.485-94     49  1975-03-20
1011              Luigi Porto  826.509.374-83     43  1980-08-18

                                               endereco             estado
0     trevo emanuel silva, 482\nvila tirol\n47847085...           RONDÔNIA
1     recanto moraes, 7\nernesto nascimento\n96497-6...     RIO DE JANEIRO
2     travessa de caldeira, 237\nsanta terezinha\n84...            SERGIPE
3     residencial de pereira, 20\njatobá\n62127-165 ...         PERNAMBUCO
4     parque almeida, 66\nvila suzana segunda seção\...     SANTA CATARINA
...                                                 ...                ...
1007  rua não cadastrada\nbairro não cadastrado\n000...            SERGIPE
1008  rua não cadastrada\nbairro não cadastrado\n000...  RIO GRANDE DO SUL
1009  rua não cadastrada\nbairro não cadastrado\n000...          SÃO PAULO
1010  rua não cadastrada\nbairro não cadastrado\n000...              PIAUÍ
1011  parque de santos, 88\nsão joão\n60112-833 rodr...     ESPÍRITO SANTO

[1012 rows x 6 columns]

In [38]:
# Salvar Dataframe
df.to_csv('clientes_remove_outliers.csv', index=False)

In [39]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

 # Inconsistencias

In [41]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)

In [42]:
import pandas as pd
import numpy as np

In [44]:
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

df = pd.read_csv('clientes_remove_outliers.csv')

print(df.head())

                      nome             cpf  idade        data  \
0  Sr. Vitor Gabriel Silva  640.719.385-01     90  1933-12-06
1            Calebe Santos  651.297.384-46     40  1984-03-06
2             Evelyn Pires  107.643.528-90     80  1944-03-09
3       Maria Julia Castro  164.750.293-43     76  1947-04-12
4           Arthur Da Rosa  085.167.249-30     53  1970-04-16

                                                               endereco  \
0           trevo emanuel silva, 482\nvila tirol\n47847085 pereira / ap
1         recanto moraes, 7\nernesto nascimento\n96497-621 da rosa / pb
2       travessa de caldeira, 237\nsanta terezinha\n84390313 sales / to
3    residencial de pereira, 20\njatobá\n62127-165 gomes de santos / al
4  parque almeida, 66\nvila suzana segunda seção\n09805-686 santos / se

           estado
0        RONDÔNIA
1  RIO DE JANEIRO
2         SERGIPE
3      PERNAMBUCO
4  SANTA CATARINA

In [51]:
# Mascara Dados Pessoais
# Convert the 'cpf' column to string type, handling potential NaN values
df['cpf_mascara'] = df['cpf'].astype(str).apply(lambda cpf: f'{cpf[:3]}.***.***-{cpf[-2:]}' if cpf != 'nan' else 'CPF não informado')

In [53]:
# Corrigir data
df['data'] = pd.to_datetime(df['data'], format='%d/%m/%Y', errors='coerce')

data_atual = pd.to_datetime('today')
# Corrected the typo from pd.to_datatime to pd.to_datetime
df['data_atualizada'] = df['data'].where(df['data']<=data_atual, pd.to_datetime('1900-01-01'))
df['idade_ajustada'] = data_atual.year - df['data_atualizada'].dt.year
df['idade_ajustada'] -= ((data_atual.month <= df['data_atualizada'].dt.month) & (data_atual.day < df['data_atualizada'].dt.day)).astype(int)
df.loc[df['idade_ajustada'] < 100, 'idade_ajustada'] = np.nan

In [54]:
# Corrigir campo com múltiplas informações
df['endereco_curto'] = df['endereco'].apply(lambda x: x.split('\n')[0].strip())
df['bairro'] = df['endereco'].apply(lambda x: x.split('\n')[1].strip() if len(x.split('\n')) > 1 else 'desconhecido')
df['estado_sigla'] = df['endereco'].apply(lambda x: x.split('\n')[-1].strip() if len(x.split('\n')) > 2 else 'desconhecido')

In [55]:
# Verificar formato de endereço
df['endereco_curto'] = df['endereco_curto'].apply(lambda x: 'Endereço inválido' if len(x) > 50 or len(x) < 5 else x)

In [58]:
df['cpf'] = df['cpf'].apply(lambda x: x if len(str(x)) == 14 else 'CPF inválido')

In [59]:
print('Dados tratados:\n', df.head())

Dados tratados:
                       nome             cpf  idade data  \
0  Sr. Vitor Gabriel Silva  640.719.385-01     90  NaT
1            Calebe Santos  651.297.384-46     40  NaT
2             Evelyn Pires  107.643.528-90     80  NaT
3       Maria Julia Castro  164.750.293-43     76  NaT
4           Arthur Da Rosa  085.167.249-30     53  NaT

                                                               endereco  \
0           trevo emanuel silva, 482\nvila tirol\n47847085 pereira / ap
1         recanto moraes, 7\nernesto nascimento\n96497-621 da rosa / pb
2       travessa de caldeira, 237\nsanta terezinha\n84390313 sales / to
3    residencial de pereira, 20\njatobá\n62127-165 gomes de santos / al
4  parque almeida, 66\nvila suzana segunda seção\n09805-686 santos / se

           estado data_corrigida data_atualizada     cpf_mascara  \
0        RONDÔNIA            NaT      1900-01-01  640.***.***-01
1  RIO DE JANEIRO            NaT      1900-01-01  651.***.***-46
2         SERGIPE            NaT      1900-01-01  107.***.***-90
3      PERNAMBUCO            NaT      1900-01-01  164.***.***-43
4  SANTA CATARINA            NaT      1900-01-01  085.***.***-30

   idade_ajustada              endereco_curto                     bairro  \
0           125.0    trevo emanuel silva, 482                 vila tirol
1           125.0           recanto moraes, 7         ernesto nascimento
2           125.0   travessa de caldeira, 237            santa terezinha
3           125.0  residencial de pereira, 20                     jatobá
4           125.0          parque almeida, 66  vila suzana segunda seção

                     estado_sigla
0           47847085 pereira / ap
1          96497-621 da rosa / pb
2             84390313 sales / to
3  62127-165 gomes de santos / al
4           09805-686 santos / se

In [60]:
df['cpf'] = df['cpf_mascara']
df['data'] = df['data_atualizada']
df['idade'] = df['idade_ajustada']
df['endereco'] = df['endereco_curto']
df_salvar = df[['nome', 'cpf', 'idade', 'data', 'endereco', 'bairro', 'estado']]
df_salvar.to_csv('clientes_tratados.csv', index=False)

print('Novo dataframe: \n', pd.read_csv('clientes_tratados.csv'))

Novo dataframe:
                          nome             cpf  idade        data  \
0     Sr. Vitor Gabriel Silva  640.***.***-01  125.0  1900-01-01
1               Calebe Santos  651.***.***-46  125.0  1900-01-01
2                Evelyn Pires  107.***.***-90  125.0  1900-01-01
3          Maria Julia Castro  164.***.***-43  125.0  1900-01-01
4              Arthur Da Rosa  085.***.***-30  125.0  1900-01-01
...                       ...             ...    ...         ...
1007            Eloah Peixoto  064.***.***-16  125.0  1900-01-01
1008              Luiza Sales  726.***.***-80  125.0  1900-01-01
1009      Dr. Alexandre Sales  427.***.***-40  125.0  1900-01-01
1010            Alícia Campos  162.***.***-94  125.0  1900-01-01
1011              Luigi Porto  826.***.***-83  125.0  1900-01-01

                        endereco                     bairro             estado
0       trevo emanuel silva, 482                 vila tirol           RONDÔNIA
1              recanto moraes, 7         ernesto nascimento     RIO DE JANEIRO
2      travessa de caldeira, 237            santa terezinha            SERGIPE
3     residencial de pereira, 20                     jatobá         PERNAMBUCO
4             parque almeida, 66  vila suzana segunda seção     SANTA CATARINA
...                          ...                        ...                ...
1007          rua não cadastrada      bairro não cadastrado            SERGIPE
1008          rua não cadastrada      bairro não cadastrado  RIO GRANDE DO SUL
1009          rua não cadastrada      bairro não cadastrado          SÃO PAULO
1010          rua não cadastrada      bairro não cadastrado              PIAUÍ
1011        parque de santos, 88                   são joão     ESPÍRITO SANTO

[1012 rows x 7 columns]